name: Update ChinaIP-and-GFW database

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0/3 * * *'
  push:
    branches:
      - main
    paths-ignore:
      - "**/README.md"

jobs:
  build:
    name: Generate GeoIP2 database
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: stable

      - name: Check out code
        uses: actions/checkout@v4

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
          fi

      - name: Create dist folders
        run: mkdir -p dist dist2 dist3 dist4

      - name: Compile GeoIP conversion binary
        run: /bin/bash ./build.sh

      - name: Obtain CN IP lists
        run: |
          # China IP
          curl -LR -o dist/ChinaIPv4-1.txt "https://raw.githubusercontent.com/17mon/china_ip_list/master/china_ip_list.txt"
          curl -LR -o dist/ChinaIPv4-2.txt "https://raw.githubusercontent.com/gaoyifan/china-operator-ip/ip-lists/china.txt"
          curl -LR -o dist/ChinaIPv6.txt "https://raw.githubusercontent.com/gaoyifan/china-operator-ip/ip-lists/china6.txt"
          curl -LR -o dist/exclude-domestic-ip.conf "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/exclude-domestic-ip.txt"

          # Bogus NXDOMAIN
          curl -LR -o dist2/bogus-nxdomain1.txt "https://raw.githubusercontent.com/felixonmars/dnsmasq-china-list/master/bogus-nxdomain.china.conf"
          curl -LR -o dist2/bogus-nxdomain2.conf "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/bogus-nxdomain-added.txt"
          curl -LR -o dist2/bogus-nxdomain3.txt "https://urlhaus-filter.pages.dev/urlhaus-filter-ag-online.txt"

          # Domestic domains
          curl -LR -o dist3/domains.china.txt "https://raw.githubusercontent.com/felixonmars/dnsmasq-china-list/master/accelerated-domains.china.conf"
          curl -LR -o dist3/domestic-added.conf "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/domestic-added.txt"
          curl -LR -o dist3/exclude-domestic.txt "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/exclude-domestic.txt"

          # GFW domains
          curl -LR -o dist4/gfw2.txt "https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/gfw.txt"
          curl -LR -o dist4/gfw3.txt "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/gfw-added.txt"
          curl -LR -o dist4/exclude-gfw.conf "https://raw.githubusercontent.com/RodmanWang/ChinaIP-and-GFW/main/patch/exclude-gfw.txt"

      # 以下的步骤保持原来的脚本逻辑，不加 pipefail
      - name: Merge and IP lists and remove duplicates
        run: /bin/bash ./merge-ip.sh

      - name: Merge and Bogus-Nxdomain lists and remove duplicates
        run: /bin/bash ./merge-nxdomain.sh

      - name: Merge and China-Domains lists and remove duplicates
        run: /bin/bash ./merge-domestic.sh

      - name: Merge and GFW-Domains lists and remove duplicates
        run: /bin/bash ./merge-gfw.sh

      - name: Generate GeoIP2 database
        run: /bin/bash ./generate-geoip2.sh

      - name: Push artifacts to release branch
        run: /bin/bash ./push-release.sh

      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 1
          keep_minimum_runs: 3
